.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #596275;

  height: 71vh;
}

.mail {
  font-size: 14vh;
}

.adress {
  font-size: 5vh;
}
