.resa {
  height: 71vh;
  background-color: #596275;
}

#stripped {
  background: #000;
  background-image: url("../assets/Clown-Illustration-7.svg");
  background-size: cover;
  font-size: 0;
}
#stripped svg {
  background: #fff;
}
#stripped svg polyline {
  fill: none;
  stroke: #000;
  stroke-width: 200;
}

div#stripped svg polyline {
  stroke-dasharray: 20000;
  stroke-dashoffset: 20000;
}

@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}
div#stripped svg polyline {
  animation: scribble 3s linear forwards;
}
div#stripped svg {
  mix-blend-mode: lighten;
}
