.flip-container {
  perspective: 1000px;
  margin: 20px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.frontT,
.backT {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.frontT,
.backT {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.frontT {
  z-index: 2;
  /* transform: rotateY(0deg); */
  background-size: cover;
}

/* back, initially hidden pane */
.backT {
  transform: rotateY(180deg);
  background-color: brown;
  display: flex;
  flex-direction: column;
}

.backT span {
  margin: 5px;
  font-size: 3vh;
}

/* --------------------------- */

.vertical.flip-container {
  position: relative;
}

.vertical .backT {
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  transform-origin: 100% 213.5px; /* half of height */
}

.vertical.flip-container:hover .flipper {
  transform: rotateX(-180deg);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
